<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
    <ion-title>
      News
    </ion-title>
  </ion-item>
    <ion-searchbar  [(ngModel)]="searchQuery" (ionInput)="searchNews()" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-loading *ngIf="isLoading" message="Please wait..." duration="0"></ion-loading>

  <div *ngIf="isOffline && data.length === 0">
    <ion-text color="danger">
      <h2>Silahkan connect ke internet</h2>
    </ion-text>
  </div>

  <ng-container *ngIf="!isOffline || data.length > 0" >
    <ion-card *ngFor="let article of data" (click)="goToDetail(article)">
      <ion-card-header>
        <img [src]="article.urlToImage">
        <ion-card-subtitle>{{article.author}} - {{article.publishedAt}}</ion-card-subtitle>
        <ion-card-title>{{article.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{article.description}}
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
